@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap&subset=latin-ext');

/* -------------------------------------------------- Body -----*/

body {
    font-family: 'Bangers', cursive, sans-serif;
}

a {
    color: #c60000 !important;
}

a:hover {
    color: yellow !important;
    text-decoration: none;
    transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
}

button {
    color: #c60000 !important;
}

button:hover {
    color: yellow !important;
    text-decoration: none;
    transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
}

hr {
        border-top: 10px solid yellow;
        border-radius: 20%;
        width: 75%;
}

/*------------------------------------------------- Navbar -----*/

.navbar {
    margin-bottom: 0;
    border: 0;
    background-color:#10172f;
}

.nav-item {
    padding: 0px 10px 10px 10px;
    font-family: 'Bangers', cursive, sans-serif;
}

#collapsible-navbar {
    text-align: center;
}

li>a {
    font-size: 2em;
    color:  #c60000;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

.navbar-default .navbar-nav li a:hover {
    color: rgb(248, 226, 23);
}

#logo {
    max-width: 75vw;
}

/*---------------------------------------------------- Home -----*/

.home {
    min-height: 100vh;
    background: url('../images/home3.jpg') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

/*---------------------------------------------------- About -----*/

.about {
    min-height: 100VH;
    padding-top: 3em;
    padding-bottom: 2em;
    
}

.about-image {
    position: relative;
    text-align: center;
    margin-top: 125px;
}

.about-image>img {
    max-height: 60VH;
    margin: auto;
}

.about-text {
    position: relative;
    padding: 0em 4em 0em 4em;
    font-family: 'Bangers', cursive, sans-serif;
    text-align: center;
    margin-top: 125px;
    font-size: 0.95em;
    color:#10172f;
}

#about-title {
    color: #c60000;
}

#about-title-top {
    color: #10172f;
}

#about-link {
    text-align: center;
}


/*------------------------------------------------------ Music -----*/

.music {
    min-height: 100VH;
    background: url('../images/music-bg1.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.music-links-desktop {
    position: absolute;
    top: 200px;
    left: 100px;
    margin-bottom: 25px;
}

/*------------------------------------------------------ Lyrics links -----*/

.lyrics-links {
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
    padding-top: 25px;
}

.lyrics-links>p {
    font-size: 25px;
    color: #25de19;
}

.lyrics-links>p:hover {
    color: #25de19;
}

.lyrics-links>p>a>i {
    padding-left: 20px;
    color: yellow;
}

.lyrics-links>p>a>i:hover {
    color: #25de19;
    text-decoration: none;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
}

.music-links {

}

/*----------------------------------------------------- Video -----*/

.video {
    min-height: 100VH;
    background-image: url('../images/video-bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#video-container {
    padding-top: 15VH;
}


/*------------------------------------------------------ Concerts -----*/

.concerts {
    min-height: 100VH;
    padding-top: 3em;
    background: url('../images/concerts.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.padding {
    padding-top: 7em;
}

.tour {
    text-align: center;
    color: #10172f;
}

#tour-hr {
    width: 50%;
}

#tour-title {
    color: #c60000;
}

form {
    color: #10172f;
}

/*------------------------------------------------------- Footer -----*/

footer {
    background-color: #10172f;
    color: #c60000;
    min-height: 120px;
    margin: 0;
    text-align: center;
}

.general-sub {
    font-size: 40px;
    color: yellow;
}

.social-links {
    padding-bottom: 15px;
}

.list-inline-item{
    padding-right: 20px;
    padding-top: 20px;
}

.social-links li a i {
    width: 65px;
    height: 65px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    color: #10172f;
    background: #c60000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: yellow;
}

#footer-details {
    padding: 20px;
}

/*------------------------------------------------- BOOTSTRAP BREAKPOINTS -----*/

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
