@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500,600,700&display=swap&subset=latin-ext');

body {
    font-family: 'Source Code Pro', sans-serif;
}
/*----- Navbar -----*/

.navbar {
  
}

.nav-item {
    padding: 0px 10px 10px 10px;
    font-family: 'Source Code Pro', sans-serif;
}

.navbar-brand {
    position: relative;
    width: 30%;
   
}

li {
    font-size: 2em;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(241, 45, 25);
}

#collapsibleNavbar {
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}

/*----- Home -----*/

.MainPicture {
    padding-top: 3em;
    
}

/*----- About -----*/

.about {
    height: 100VH;
    padding-top: 3em;
    
}

.aboutImage {
    position: relative;
    text-align: center;
    margin-top: 125px;
}

.aboutImage>img {
    height: 75%;
}

.aboutText {
    position: relative;
    padding: 0em 4em 0em 4em;
    text-align: center;
    margin-top: 125px;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 0.8em;
}

.aboutText>p {
text-align: left;
}

/*----- Music -----*/

.music {
    height: 100VH;
    background-image: url('../images/music-bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.MusicLinks {
    position: relative;
    top: 200px;
    left: 100px;
}

/*----- Video -----*/

.video {
    height: 100VH;
    background-image: url('../images/video-bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 175px;
	left: 400px;
	width: 50%;
	height: 50%;
}

/*----- Concerts -----*/

/*----- Footer -----*/

/*----- BOOTSTRAP BREAKPOINTS -----*/

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
