@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap&subset=latin-ext');

/* -------------------------------------------------- Body -----*/

html {
    scroll-behavior: smooth;
    transition: all 10s ease-in-out;
    -moz-transition: all 10s ease-in-out;
    -webkit-transition: all 10s ease-in-out;
}

body {
    font-family: 'Bangers', cursive, sans-serif;
}

a {
    color: #c60000 !important;
}

a:hover {
    color: yellow !important;
    text-decoration: none;
    transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
}

button {
    color: #c60000 !important;
}

button:hover {
    color: yellow !important;
    text-decoration: none;
    transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
}

.btn-primary {
    background-color: #10172f;
    border-color: #10172f;
}

.btn-primary:hover {
    background-color: #0c1122;
    border-color: #0c1122;
}

hr {
        border-top: 10px solid yellow;
        border-radius: 20%;
        width: 75%;
}

/*------------------------------------------------- Navbar -----*/

.navbar {
    margin-bottom: 0;
    border: 0;
    background-color:#10172f;
}

.nav-item {
    font-family: 'Bangers', cursive, sans-serif;
}

@media (min-width: 1024px) {
    .nav-item {
        padding: 0px 10px 10px 10px;}
}

#collapsible-navbar {
    text-align: center;
}

li>a {
    font-size: 35px;
    color:  #c60000;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

.navbar-default .navbar-nav li a:hover {
    color: rgb(248, 226, 23);
}

#logo {
    max-width: 30vw;
    min-width: 25vw;
}

/*---------------------------------------------------- Home -----*/

.home {
    min-height: 100vh;
    background: url('../images/home3.jpg') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

/*---------------------------------------------------- About -----*/

.about {
    min-height: 100VH;
    padding-bottom: 2em;
    padding-top: 3em;
}

.about-image {
    position: relative;
    text-align: center;
    margin-top: 125px;
}

.about-image>img {
    max-height: 60VH;
    margin: auto;
}

.about-text {
    position: relative;
    font-family: 'Bangers', cursive, sans-serif;
    text-align: center;
    margin-top: 125px;
    font-size: 1.2em;
    color:#10172f;
}

@media (min-width: 575px) {
    .about-text {
        padding: 0em 6em 0em 6em;}
}

@media (min-width: 992px) {
    .about-text {
        padding: 4em 4em 0em 4em;}
}

@media (min-width: 1300px) {
    .about-text {
        padding: 0em 3em 0em 3em;;
        }
}

#about-title {
    color: #c60000;
}

#about-title-top {
    color: #10172f;
}

#about-link {
    text-align: center;
}


/*------------------------------------------------------ Music -----*/

.music {
    min-height: 100VH;
    background: url('../images/music-bg1.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.music-container {
    position: relative;
    min-height: 100VH;
}

#spotify-divs {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    padding-top: 25px;
    padding-bottom: 55px;
}

.spotify-player {
    text-align: center;
}

.spotify-player-small {
    text-align: center;
}

/*------------------------------------------------------ Lyrics links -----*/

.lyrics-links {
    width: 100%;
    margin-bottom: 65px;
    text-align: center;
    padding-top: 25px;
}

.lyrics-links-small-player {
    padding-bottom: 30px;
    text-align: center;
    padding-top: 15px;
}

.lyrics-links>p {
    font-size: 25px;
    color: #25de19;
}

.lyrics-links>p:hover {
    color: #25de19;
}

.lyrics-links>p>a>i {
    padding-left: 20px;
    color: yellow;
}

.lyrics-links>p>a>i:hover {
    color: #25de19;
    text-decoration: none;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
}

.col-12 lyrics-links {
    text-align: center;
}


/*----------------------------------------------------- Video -----*/

.video {
    min-height: 100VH;
    background-image: url('../images/video-bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#video-container {
    padding-top: 15VH;
}


/*------------------------------------------------------ Concerts -----*/

.concerts {
    min-height: 100VH;
    padding-top: 2em;
    padding-bottom: 2em;
    background: url('../images/concerts.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.padding {
    padding-top: 5em;
}

.tour {
    padding-bottom: 3em;
}

.tour-venues {
    text-align: center;
    color: #10172f;
}

.tour-dates {
    text-align: right;
}

.tour-dates>h5 {
    position: relative;
    transform: translateY(50%);
}

.tour-info {
    text-align: left;
}

.tour-info>a {
    position: relative;
    transform: translateY(30%);
}

#tour-hr {
    width: 65%;
}

#tour-title {
    color: #c60000;
    text-align: center;
}

form {
    color: #10172f;
    text-align: center;
}

.subscribe-form {
     padding: 0px;
     margin: 0px;
}

#subscribe-form > form > label {
    margin-right: 50px;
}

#subscribe-button {
    margin-left: 50px;
}

/*------------------------------------------------------- Footer -----*/

footer {
    background-color: #10172f;
    color: #c60000;
    min-height: 120px;
    margin: 0;
    text-align: center;
}

.general-sub {
    font-size: 30px;
    color: yellow;
}

.social-links {
    padding-bottom: 10px;
}

.list-inline-item{
    padding-right: 20px;
    padding-top: 10px;
}

p.inline-block {
    margin-bottom: 0px;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    color: #10172f;
    background: #c60000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: yellow;
}

#footer-details {
    padding-top: 20px;
}

#contact-button {
    color: #10172f !important;
    background-color: #c60000;
}

#contact-button:hover {
    background-color: yellow;
}

/*------------------------------------------------- BOOTSTRAP BREAKPOINTS -----*/

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
