body {
}
/*----- Navbar -----*/

.navbar {
    
}

.nav-item {
    padding: 0px 10px 10px 10px;
}

.navbar-brand {
    position: relative;
    width: 33%;
    padding: 0;
}

li {
    font-size: 1.25em;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(241, 45, 25);
}

#collapsibleNavbar {
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}

/*----- Home -----*/

.MainPicture {
    padding-top: 3em;
}

/*----- About -----*/

.about {
    height: 100VH;
    padding-top: 3em;
}
.aboutImage {
    position: relative;
    text-align: center;
    margin-top: 125px;
}

.aboutImage>img {
    height: 75%;
}

.aboutText {
    position: relative;
    text-align: center;
    margin-top: 125px;
}

.aboutText>p {
text-align: left;
}





